In [1]:
import pandas as pd
import matplotlib as plt
import re

In [2]:
df = pd.read_csv("C:\\Users\\diogo\\Downloads\\mercadoimobiliario.csv", sep= ';')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352157 entries, 0 to 352156
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Data    352157 non-null  object
 1   Info    352157 non-null  object
 2   Valor   352157 non-null  object
dtypes: object(3)
memory usage: 8.1+ MB

In [4]:
df['Data'].nunique()

122

In [5]:
df['Valor'] = df['Valor'].str.replace(',', ".")

In [6]:
df['Valor'].str.strip()

0          3275567445
1         240143028.3
2                4.45
3               50.69
4                0.38
             ...
352152        5000000
352153            101
352154       16000000
352155           1055
352156         212000
Name: Valor, Length: 352157, dtype: object

In [7]:
df['Valor'] = pd.to_numeric(df['Valor'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352157 entries, 0 to 352156
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Data    352157 non-null  object
 1   Info    352157 non-null  object
 2   Valor   352157 non-null  float64
dtypes: float64(1), object(2)
memory usage: 8.1+ MB

In [9]:
df['Data'].loc[0]

'30/09/2020'

In [10]:
df['Data'] = pd.to_datetime(df['Data'], dayfirst=True, format='%d/%m/%Y')

In [24]:
df_organizado_data = df.sort_values(by='Data')

In [25]:
df_organizado_data

,Data,Info,Valor
185644,2014-04-30,credito_estoque_indexador_pf_tr_sc,1.608026e+10
132778,2014-04-30,credito_estoque_carteira_credito_pf_fgts_pe,2.763158e+09
100702,2014-04-30,credito_contratacao_ltv_pf_comercial_pr,5.537000e+01
17826,2014-04-30,credito_estoque_inadimplencia_pf_sfh_ac,3.280000e+00
17827,2014-04-30,credito_estoque_risco_operacao_pf_comercial_aa_rs,9.470000e+00
...,...,...,...
190017,2024-05-31,credito_estoque_risco_operacao_pj_comercial_aa_es,5.279000e+01
347387,2024-05-31,credito_estoque_carteira_credito_pf_sfh_am,4.999679e+09
209169,2024-05-31,credito_estoque_risco_operacao_pj_fgts_aa_rs,1.601000e+01
263421,2024-05-31,credito_estoque_ativo_problematico_pj_fgts_rj,5.287125e+06
348143,2024-05-31,credito_estoque_carteira_credito_pj_fgts_pi,5.623718e+06

In [12]:
df_organizado_data['Info'].nunique()

3667

In [13]:
filtro_imoveis = df[df['Info'].str.startswith('imoveis')]

In [14]:
filtro_imoveis['Info'].nunique()

392

In [15]:
filtro_imoveis.nunique()

Data       76
Info      392
Valor    8264
dtype: int64

In [16]:
filtro_imoveis_sp = filtro_imoveis[filtro_imoveis['Info'].str.endswith('sp')]

In [17]:
filtro_imoveis_sp

             Data                          Info      Valor
38     2019-10-31    imoveis_valor_avaliacao_sp  215500.00
181    2022-06-30     imoveis_area_privativa_sp      57.95
700    2021-09-30       imoveis_dormitorio_3_sp    6489.00
915    2019-10-31       imoveis_valor_compra_sp  209699.40
2028   2018-07-31       imoveis_dormitorio_2_sp   14570.00
...           ...                           ...        ...
351917 2020-01-31       imoveis_dormitorio_2_sp   10307.00
351971 2020-01-31       imoveis_dormitorio_3_sp    3870.00
352025 2020-01-31  imoveis_dormitorio_4_mais_sp     737.00
352077 2020-02-29       imoveis_dormitorio_1_sp    5652.00
352131 2020-02-29       imoveis_dormitorio_2_sp   11532.00

[1064 rows x 3 columns]

In [18]:
def filtro_rj(dataframe):
    return dataframe[dataframe['Info'].str.endswith('rj')]

In [19]:
def filtro_unidade_federativa(dataframe,unidade_federativa):
    return dataframe[dataframe['Info'].str.endswith(unidade_federativa)]

In [20]:
filtro_imoveis_rj = filtro_rj(filtro_imoveis)

In [21]:
filtro_imoveis_rj

             Data                          Info     Valor
642    2018-07-31       imoveis_dormitorio_2_rj    2829.0
1337   2024-02-29       imoveis_dormitorio_2_rj    1291.0
1437   2020-02-29       imoveis_dormitorio_3_rj     456.0
2533   2023-02-28  imoveis_garantia_hipoteca_rj     101.0
3998   2019-11-30    imoveis_valor_avaliacao_rj  225000.0
...           ...                           ...       ...
351903 2020-01-31       imoveis_dormitorio_2_rj    1999.0
351957 2020-01-31       imoveis_dormitorio_3_rj     453.0
352011 2020-01-31  imoveis_dormitorio_4_mais_rj     119.0
352063 2020-02-29       imoveis_dormitorio_1_rj     906.0
352117 2020-02-29       imoveis_dormitorio_2_rj    1932.0

[1064 rows x 3 columns]

In [22]:
filtro_imoveis_rr= filtro_unidade_federativa(filtro_imoveis, "mg")

In [23]:
filtro_imoveis_rr

             Data                          Info     Valor
949    2023-02-28  imoveis_garantia_hipoteca_mg     200.0
2414   2019-11-30    imoveis_valor_avaliacao_mg  155000.0
2557   2022-07-31     imoveis_area_privativa_mg      65.3
3076   2021-09-30  imoveis_dormitorio_4_mais_mg     493.0
3291   2019-11-30       imoveis_valor_compra_mg  150596.6
...           ...                           ...       ...
351941 2020-01-31       imoveis_dormitorio_3_mg    1195.0
351995 2020-01-31  imoveis_dormitorio_4_mais_mg     243.0
352047 2020-02-29       imoveis_dormitorio_1_mg     793.0
352101 2020-02-29       imoveis_dormitorio_2_mg    2849.0
352155 2020-02-29       imoveis_dormitorio_3_mg    1055.0

[1064 rows x 3 columns]

In [30]:
filtro_imoveis_rr['Info'].str.split('_', expand=True)

              0           1          2     3     4
949     imoveis    garantia   hipoteca    mg  None
2414    imoveis       valor  avaliacao    mg  None
2557    imoveis        area  privativa    mg  None
3076    imoveis  dormitorio          4  mais    mg
3291    imoveis       valor     compra    mg  None
...         ...         ...        ...   ...   ...
351941  imoveis  dormitorio          3    mg  None
351995  imoveis  dormitorio          4  mais    mg
352047  imoveis  dormitorio          1    mg  None
352101  imoveis  dormitorio          2    mg  None
352155  imoveis  dormitorio          3    mg  None

[1064 rows x 5 columns]